result
./darwin/result
.DS_Store

# Compiled sketchybar helpers (built at activation)
darwin/modules/sketchybar/config/helpers/event_providers/cpu_load/bin/
darwin/modules/sketchybar/config/helpers/event_providers/network_load/bin/
darwin/modules/sketchybar/config/helpers/menus/bin/
